<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>QJackCtl.icns</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleExecutable</key>
	<string>qjackctl</string>

	<key>CFBundleIdentifier</key>
	<string>jackaudio.org</string>

        <key>LSUIElement</key>
        <string>1</string>
        
        <key>BuildMachineOSBuild</key>
	<string>12A269</string>

	<key>CFBundleName</key>
	<string>QJackCtl</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4H127</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12A269</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0460</string>
	<key>DTXcodeBuild</key>
	<string>4H127</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Rui Nuno Capela</string>

</dict>
</plist>
